<h1>Login</h1>

<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <button type="submit">Login</button>
</form>

<li><a href="/register">Sign Up</a></li>
<li><a href="/logout">Logout!</a></li>
<li><a href="/login">Login!</a></li>

<!-- <button type="submit">SUBMIT</button> -->